* {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  font-family: 'Shadows Into Light', cursive; }

#body {
  background-color: aquamarine; }

/*header*/
.h1 {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: honeydew;
  font-size: 80px;
  text-align: center;
  padding: 20px; }

.titulo {
  animation-name: titulo;
  animation-iteration-count: 4;
  animation-duration: 5s; }

@keyframes titulo {
  from {
    transform: translate(-400px);
    opacity: 0; }
  to {
    transform: translate(0);
    overflow: 1; } }

/*nav*/
.nav {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
  color: honeydew;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px; }
  .nav a:hover {
    background-color: aquamarine;
    color: honeydew;
    padding: 5px;
    margin: 15px 0;
    cursor: pointer;
    height: 10px; }

/*section*/
.h2 {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  font-size: 40px;
  padding-left: 20px;
  color: honeydew; }
  .h2 .video {
    grid-area: video;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: darkviolet; }
  .h2 .border {
    border: solid black 5px; }

/*footer*/
footer {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: honeydew;
  padding: 20px;
  padding-left: 30px;
  font-size: 25px;
  margin: 20px; }
  footer .facebook {
    margin-top: 10px;
    width: 3%; }
  footer .redes {
    padding-left: 20px;
    color: honeydew; }

/*maps*/
.boton-facebook {
  background-color: blue;
  border: blue; }

.boton-instagram {
  background-color: #eccb10;
  border: #eccb10; }

.boton-whatsapp {
  background-color: #1fe01f;
  border: #1fe01f; }
